@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #D9EDBF; /* Jasny beżowy */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.App {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

header {
  background-color: #2C7865; /* Zielony */
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  background-color: #FF9800; /* Pomarańczowy */
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  width: 150px; /* Ustawienie stałej szerokości dla przycisków */
}

nav ul li a:hover {
  background-color: #90D26D; /* Jasnozielony */
}

.container {
  margin-top: 20px;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #FF9800;
  color: white;
  width: 250px; /* Ustawienie stałej szerokości */
  margin: 10px 0;
}

button:hover {
  background-color: #2C7865;
}

br {
  margin-bottom: 10px;
}
